<footer class="footer ">
    <div class="row container align-items-center justify-content-center">
        <div class="col-5 horaire align-items-center justify-content-center">
            <div class="col-2 ligne">Horaire</div>lundi mardi
            <div class="col-2 ligne">Horaire</div> Mercredi jeudi
            <div class="col-2 ligne">Horaire</div>Vendredi Samedi Dimanche
        </div>
        <div class="col-5 icons-social align-items-center justify-content-center">
            <div class="col-2 icon"><img src="{{ asset('assets/img/logo/e-mail.png') }}"></div>
            <div class="col-2 icon"><img src="{{ asset('assets/img/logo/facebook .png') }}"></div>
            <div class="col-2 icon"><img src="{{ asset('assets/img/logo/github.png') }}"></div>
            <div class="col-2 icon"><img src="{{ asset('assets/img/logo/twitter.png') }}"></div>twitter
            <div class="col-2 icon"><img src="{{ asset('assets/img/logo/linkedin.png') }}"></div>facebook
        </div>
        <p class="copyright">&copy; {{ 'now'|date('Y') }} &middot; {{ project.name }}</p>
    </div>
</footer>